/* Header formatting color, font, margins */
header {
    padding: 60px;
    margin: 0;
    text-align: center;
    background-color: beige;
    font-size: 15px;
    font-family: sans-serif;
}
/* Formatting for navigation bar */
    ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Formatting to get navigation bar horizontal and adjust distance */
li {
    padding: 10px;
    display: inline-grid;
}
/* Formatting for body's text, color, padding and margins */
body {
    margin: 10px;
    text-align: center;
    background-color: dimgray;
    font-family: sans-serif;
    padding: 20px;
}
/* Headers formatting for color, position, and font */
h1, h2, h3, h4 {
    font-family: sans-serif;
    text-align: center;
    color: aqua;
}
/* footer format to move footer to bottom, color, alignment, and background */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  text-align: center;  
}
/*Creating content for table on about page to show the printer types and what they do*/
#aboutprint, th, td{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    background-color: beige;
    border-style: solid;
    border-color: aqua;
    border-collapse: collapse;
}
/*troubleshooting table added had this part of table float left*/
#troubleshooting {
    align-content: center;
    align-content: center;
    float: left;
}
/*Classes table created to float right so both parts are side by side */
#classes {
    align-content: center;
    align-content: center;
    float: right;
}
/*contat table aligned center and auto margins*/
#contactable {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}
/**/
#indexarticle {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    background-color: beige;
    border-style: solid;
    border-color: aqua;
    border-collapse: collapse;
}

#indexsection {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    background-color: beige;
    border-style: solid;
    border-color: aqua;
    border-collapse: collapse;
}

#indextable {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 50%;
    background-color: beige;
    border-style: solid;
    border-color: aqua;
    border-collapse: collapse;
}